body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --text-preset-2-bold: Inter;

  /* font sizes */
  --text-preset-2-bold-size: 14px;
  --text-preset-1-size: 24px;

  /* Colors */
  --color-grey-800: #1f1f1f;
  --color-grey-900: #141414;
  --color-grey-700: #333;
  --color-dimgray: #595959;
  --color-white: #fff;
  --color-green: #c4f82a;

  /* Spacing */
  --spacing-300: 24px;
  --spacing-500: 40px;
  --spacing-200: 16px;
  --spacing-100: 8px;
  --spacing-150: 12px;
  --spacing-50: 4px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-7xl: 26px;
  --padding-xs: 12px;

  /* Border radiuses */
  --br-5xs: 8px;
}
